:root{
  --dark:black;
  --light:cyan;
}

body{
  background-color:var(--dark);
  color:var(--light);
}

.form{
  text-align: center;
  padding: 20px;
  border: white 2px solid;
  overflow: hidden;
  max-width: fit-content;
  margin-left:auto ;
  margin-right: auto;
  border-radius: 8px;
}

.label{ 
  padding: 3px;
  font-size: 0.8rem;
  padding-bottom: 0%;
  margin-bottom: 0;
  text-align:start;
}

.input{
  border-radius: 4px;
  background-color: grey;
}

.button{
  font-size: 1.3rem;
  padding: 4px;
  margin-top: 10px;
  transition: 0.3sec ease;
}
.button:disabled{
  background-color: grey;
  color: var(--dark);
  cursor:not-allowed;
}
