body{
    background-color: rgb(84, 21, 14);
    align-items: center;
}

.main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-color: rgb(245, 76, 34);
    display:block;
    color: #71c5d5;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin:auto;
    margin-top: 30px;
    width:100%;
    border:5px rgb(240,70,30) solid;
    border-radius: 20px;
    padding:60px;  

    padding-top: 40px;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-decoration: double underline;
    /* box-shadow: 0 0 15px 5px rgba(0, 252, 248, 0.2); */
}
.main:hover{
    box-shadow: 10px rgb(0, 0, 0) fade; 
}

.data{
    width:50px;
    /* border: 5px solid; */
    border-radius: 10px;
}

#btn{
    /* border-radius: 5px; */
    /* background-color: #FFF0DD; */
    /* color:black;
    font-weight: 300; */
    /* margin:10px; */
    overflow-y: hidden;
    background-color: #b65f33;
    border-radius: 10px;
    font-weight: 500;
    padding:20px 30px ;
    margin:10px; 
    color: #191770;
}

#btn:hover{
    transition:all 0.6s;
    background-color: #b65f33;
    /* border-radius: ; */
    font-size: 20px;
    font-weight: 800;
    padding:20px 30px ;
    margin:5px; 
    color: #191770;
    box-shadow: 0 0 15px 5px rgba(255, 251, 248, 0.2);

}

#output{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 10px;;
    color: #191770;
}
#fo{
    font-weight: 900;
    text-decoration: underline black 2px  ;
}