body{
    background-color: rgb(3, 6, 35);
}
#btn{
    /* border: 2px solid black; */
    
    padding-left:15px;
    padding-right: 15px;
    padding-bottom: 12px;
    padding-top: 6px;
    padding: 25px;
    position: absolute;
    border-radius: 30px;
    /* color: white; */
}

#t{
    /* display:flex; */
    color:lightblue;
    align-items: center;
    text-align:center;
    padding: 10px;
    border: 2px solid black;
    max-width: 300px;
    margin:auto;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: darkblue;
    border-radius: 5px;
    box-shadow: 0 0 6px 1px lightblue;
}